@use "common";

$primaryColor: #a8b9ec;

.about {
  @include common.section($primaryColor);
  
  p {
    margin-top: 5rem;
    font-size: 1.8rem;
    text-align: center;

    &.name {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .link {
      margin: 2rem;
      padding: 1rem;
      border-radius: 100rem;
      @include common.neu($primaryColor);
      &:hover {
        @include common.neu-inset($primaryColor);
      }
      a {
        display: block;
        figure {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          img {
            width: 5rem;
          }
        }
      }
    }
  }
}
