@use "common";

$primaryColor: #e0e5ec;

.skills {
  @include common.section($primaryColor);
  &SubTitle {
    margin-block: 8rem 3rem;
    font-size: 2rem;
  }

  &.visible {
    .skillsBoxItem {
      animation: fadeInItem 0.6s forwards;
      @keyframes fadeInItem {
        0% {
          opacity: 0;
          transform: translateY(100%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &Box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    @media screen and (max-width: 768px) {
      gap: 2rem 1rem;
    }
    &Item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 9.2rem;
      padding: 1.8rem 1rem;
      opacity: 0;
      background: $primaryColor;
      border-radius: 1rem;
      @include common.neu($primaryColor);
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      img {
        width: 5rem !important;
        transition: all 0.2s;
      }
      h2 {
        margin-top: 1.8rem;
        font-size: 1.4rem;
      }
    }
  }
}
