@use "@/styles/pages/Detail.scss";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4vh;
  padding: 3vh 10rem 1vh;
  width: 100%;
  background-color: #e2e2e2;
  z-index: 10;
  transition: background-color 0.25s ease-in-out;
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    .img_container {
      position: relative;
      height: 18vh;
      width: auto;

      img {
        position: relative !important;
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
    
    &:hover {
      opacity: 0.6;
    }
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      gap: 8rem;
      li {
        height: fit-content;
        transition: all 0.15s ease-in-out;
        a {
          font-size: 2rem;
          font-weight: 700;
          color: #000;
        }
        &:hover {
          opacity: 0.6;
          transform: scale(1.05);
        }
      }
    }
  }

  .copyright {
    margin-top: 3vh;
  }
}