.text__container {
  width: 40%;
  height: 100%;
  // background: #8ea5dc;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 50vh;
  }

  .spacer {
    height: 300vh;
  }
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 100% 
  );
  z-index: -1;
}