.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00f;
    z-index: 100;
    div {
        width: 100%;
        height: 100%;
        background: #00f;
    }
}